*
{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
   
  
}
body{
   
    background: linear-gradient(rgb(78, 78, 78), rgb(126, 125, 125));

}
#encabezado
{
       
        height: 160px;
        background-color:#74F148; 
        margin: 1em;
      
    
 }
 #encabesado
 {
    width: 93%;
    height: 450px;
    height: auto;
    background-color:#74F148; 
    margin: 1em;
    border-radius: 18px;
    text-align: center;
 }
 
 #menu{
    height: 53px;
    background-color: #74F148;
    margin: 1em;
    border-radius: 5px;
 }
 .menu{
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 1000;
}

.logo{
   font-size: 27px;
   color: rgb(247, 248, 248);
   font-weight: 800; 
   text-transform: uppercase;   
   font-style: normal;
   font-family: "Days One", sans-serif;

   
}
.menu .navbar ul li{
   position: relative;
   float: left;
   text-align: center;
}
.menu .navbar ul li a{
   font-size: 18px;
   padding: 20px;
   color: beige;
   display: flex;
   text-align: center;
}
.menu .navbar ul li a:hover{
   color: rgb(250, 253, 252);
   text-align: center;
}
#menu{
   display: none;
}
.menu-icono{
   width: 25px;
}

.menu label{
   cursor: pointer;
   display: none;
}
#menu:checked ~ .navbar{
   display: initial;
}

@media(max-width:991px){
   .menu{
       padding: 20px;
   }
   .menu label{
       display: initial;
   }
   .menu .navbar{
       position: absolute;
       top: 90%;
       left: 0;
       right: 0;
       background-color: black;
       display: none;
   }


.menu .navbar ul li{
   width: 100px;
}

#menu:checked ~ .navbar{
   display: initial;

}
}

 
 /*selector de etiqueta para el menu*/
 ul{
    text-align: center;
    padding: 10px;
 }
 li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
 }
.l{
    background-color: white;
}
.pil{
    width: 100%;
}
.pi{
 
  
  width: 70%;
    height: 800px;
    margin: 1px;
    border: 1px solid;
    border-radius: 15px;
    text-align: center;
    line-height: 25px;
    box-shadow: rgb(247, 173, 84) ;
    background-color: rgba(253, 255, 255, 0.952);
 
    
}

.text{
    font-size: 20px;
    text-align: center;
}
.tulumu{
    width: 20%;
    height: 30px;
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
.tulumi{
    width: 70%;
    height: 110px;
    border-radius: 10px;
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
.tulum{
    width: 60%;
    height: 40px;
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
.lu{
    display: flex;
    width: 80%;
    flex-direction: row;
  justify-content: center;
    
 
}
.lilo{
    width: 110px;
    height: 30px;
    font-size: 20px;
    border-radius: 30px;
    background-color: black;
color: white;
  
}

.lilo:hover{
    width: 20%;
    height: 33px;
    
}