/*selector universal*/
*{
    margin: 0;
    margin: 0;
}
/*selector de etiqueta*/

body{
  background-color: rgb(152, 247, 128);
  color: rgb(0, 0, 0);


}
/*selector de id*/

#contenedor{
    width: 800px;
    height: 6100px;
    background-color: #ffff;
    margin: 10px;
    padding: 20px;
    
     }
#encabezado
{
        width: 800px;
        height: 450;
        background-color:#36801D; 
        margin: 1em;
      
    
 }
 #encabesado
 {
    width: 96%;
    height: auto;
    background-color:#74F148; 
    margin: 1em;
    border-radius: 18px;
    text-align: center;
 }
 #menu{
    height: 53px;
    background-color: #74F148;
    margin: 1em;
    border-radius: 5px;
 }

 #lulu
 {
    height: 400px;
    width: 345px;
    background-color: #36801D;
    margin: 3em;
    text-align: center;
 }
 /*selector de etiqueta para el menu*/
 ul{
    text-align: center;
    padding: 10px;
 }
 li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
 }
 img:hover{
    width: 90%;
    height: 70%;
 }
 li a:hover{
    color: #000000;
    font-size: 21px;
    text-decoration: none;
    list-style: none;
 }
 .img{
    width: 7cm;
    height: 7cm;
    border-radius: 5px;
    justify-items: center;
  
 }
 .texto{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 5px 25px;
    color: #ffffffff;
 }
 .pie{
    height: 20px;
    background-color:#74F148;
    margin: 1.5em;
    text-align: center;
    padding: 5px;
 }
 .pie h4{
    padding: 15px;
    font-size: 30px;
    background-color: #36801D;

 }

