/*selector universal*/
*{
    margin: 0;
    margin: 0;
}
/*selector de etiqueta*/

body{
  background-color: rgb(160, 157, 153);
  color: rgb(255, 251, 251);

}
/*selector de id*/

 #contenedor{
width: 85%;
height: 460%;
background-color: rgb(21, 38, 61);
margin: 10px;
padding: 5px;

 }
 .encabezado{
    width: 97%;
    height: 125px;
    background-color: rgb(17, 7, 59);
    margin: 1em;
    border-radius: 5px;
    text-align: center;

 }

  

 .pit{
   display: flex;
   width: 15px;
   height: 25px;
   align-items: center;
   text-align: center;
   justify-content: center;
 background-color: rgb(11, 9, 39);
 color: rgb(255, 251, 251);
 transition: 2s;
}
.pit:hover{
   background-color: rgb(9, 9, 50);
   border: 2px solid;
   border-radius: 30px;
   transition: 2s;
}





.menu{
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   display: flex;
   align-items: center;
   justify-content: space-around;
   z-index: 1000;
}

.logo{
   font-size: 27px;
   color: rgb(247, 248, 248);
   font-weight: 800; 
   text-transform: uppercase;   
   font-style: normal;
   font-family: "Days One", sans-serif;

   
}
.menu .navbar ul li{
   position: relative;
   float: left;
   text-align: center;
}
.menu .navbar ul li a{
   text-decoration: none;
   font-size: 18px;
   padding: 20px;
   color: beige;
   display: block;
   text-align: center;
}
.menu .navbar ul li a:hover{
   color: rgb(250, 253, 252);
   text-align: center;
}
#menu{
   display: none;
}
.menu-icono{
   width: 25px;
}

.menu label{
   cursor: pointer;
   display: none;
}
#menu:checked ~ .navbar{
   display: initial;
}

@media(max-width:991px){
   .menu{
       padding: 30px;
   }
   .menu label{
       display: initial;
   }
   .menu .navbar{
       position: absolute;
       top: 100%;
       left: 0;
       right: 0;
       background-color: black;
       display: none;
   }
  


.menu .navbar ul li{
   width: 70%;
}

#menu:checked ~ .navbar{
   display: initial;

}
}





 /*selector de etiqueta para el menu*/
 ul{
    text-align: center;
    padding: 1%;
    padding: 5px;
 }
 li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
    text-align: center;
 }


 .days-one-regular {
   font-family: "Days One", sans-serif;
   
   font-style: normal;
   font-weight: 800;
   text-transform: uppercase;
 }
 
 
 
 li a:hover{
    color: rgb(251, 251, 253);
    text-decoration: none;
    list-style: none;
 }
 /*selector de clase*/
 .img{
    max-width: 100%;
    height: 130px;
    border-radius: 10px;
    justify-items: center;
  
 }
 .img:hover{
   width: 100% ;
   height: 130px;

 }
 .texto{
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 5px 25px;
    color: #faf9f9fd;
 }
 .pie{
    height: 20px;
    
    background-color: rgb(6, 34, 58);
    margin: 1.5em;
    text-align: center;
    padding: 5px;
 }
 .pie h4{
   height: 40px;
    padding: 5px;
    font-size: 20px;
    background-color: rgb(17, 7, 59);

 }

/*card*/

   .card{
    
      box-shadow: 0 4px 8px 0 black;
      overflow: hidden   ;
      max-width: 230px;
      height:350px ;
      margin: auto;
      border: 2px solid;
      border-radius: 10px;
      background-color: rgb(6, 34, 58) ;

   }
   .card:hover{
      max-width: 250px;
      height: 370px;
   }


 
 .card img{
   background-color: white;

 }
.tittle{
   color: aquamarine;
   font-size: 10px;
}
button{
   border: none;
   outline: 0;
   display: inline-block;
   padding: 8px;
   color: white;
   background-color: rgb(11, 9, 39);
   text-align: center;
   cursor: pointer;
   justify-content: end;
   width: 100%;
   font-size: 18px;

}
button:hover{
   background-color: rgb(255, 253, 253);
   color: #000;
}




#contenedorflexy{
   display: flex;
   flex-direction: row;
 flex-wrap: wrap;
   padding: 5px;
 gap: 20px;
   
  
}
.item{
   
  
   max-width: 200px;
   margin: 5px;
   border: 2px solid;
   text-align: center;
   line-height: 25px;
   font-size: 25px;
  
}

 