*{
    box-sizing: border-box;
   

}
.contenedorflex{
    display: flex;
    width: 400px;
    flex-direction: row;
    flex-wrap: wrap ;
    background-color: #85e8f5;
    padding: 10px;
    border: 2px solid black;
    
   
}
.item{
    background-color: rgb(86, 158, 138);
    width: 100px;
    margin: 10px;
    border: 2px solid;
    text-align: center;
    line-height: 25px;
    font-size: 25px;
   
}
.item:hover{
 color: aquamarine;
 background-color: #183964;
}
.contenedorflexy{
    display: flex;
    width: 800px;
    flex-direction: row;
  justify-content: center;
    background-color: #183964;
    padding: 10px;
    border: 2px solid black;
    
   
}
.contenedorflexo{
    display: flex;
    width: 800px;
    flex-direction: row;
  justify-content: end;
    background-color: #131e5a;
    padding: 10px;
    border: 2px solid black;
    
   
}
.contenedorfloxe{
    display: flex;
    flex-direction: row;
   align-items: center;
    background-color: rgb(6, 35, 39);
    padding: 10px;
    border: 2px solid black;
    width: 700px;
    height: 700px;

}
.contenedorfloxi{
    display: flex;
    flex-direction: row;
   align-items: stretch;
    background-color: rgb(28, 21, 44);
    padding: 10px;
    border: 2px solid black;
    width: 700px;
    height: 700px;

}

.contenedorfloxu{
    display: flex;
    width: 400px;
    flex-direction: row;
   align-items: end;
 height: 800px;
    background-color: rgb(0, 153, 255);
    padding: 10px;
    border: 1px solid black;
    
   
}
.contenedorflixu{
    display: flex;
    width: 500px;
    flex-direction: row;
   align-items: center;
   justify-content: center;
 height: 500px;
    background-color: rgb(0, 174, 255);
    padding: 10px;
    border: 1px solid black;
    
   
}